nav{
    background-color: #24303c;
    justify-content: center;
    height: 50px;
    text-align: center;
}
#boton_home{
    display:inline;
    color: #FFFFFF;
    width: 30%;

}

#nav_bar_inicio{
    position:fixed;
    width:100%;
    margin: 0px;
    top:0;
}