<!DOCTYPE html>
<html>
<head>
    <title>Nuevo Envío</title>
</head>
<body>
    <h1>Nuevo Envío</h1>
    <form action="/submit" method="POST">
        <div class="itemFormulario">
            <label for="Remitente">Remitente: </label><br>
            <input type="text" id="Remitente" name="Remitente"><br>

        </div>
        <label for="Destinatario">Destinatario: </label><br>
        <input type="text" id="Destinatario" name="Destinatario"><br>
        <label for="Direccion_envio">Direccion de envio: </label><br>
        <input type="text" id="Direccion_envio" name="Direccion_envio"><br>
        <label for="Ciudad">Ciudad: </label><br>
        <input type="text" id="Ciudad" name="Ciudad"><br>
        <label for="Tipo_de_envio">Tipo de envio: </label><br>
        <input type="text" id="Tipo_de_envio" name="Tipo_de_envio"><br>
        <label for="Correo">Correo: </label><br>
        <input type="email" id="Correo" name="Correo"><br>
        <label for="Por_pagar">Por pagar: </label><br>
        <input type="checkbox" id="Por_pagar" name="Por_pagar"><br>
        <label for="Fecha_de_recepcion">Fecha de recepcion: </label><br>
        <input type="text" id="Fecha_de_recepcion" name="Fecha_de_recepcion"><br>
        <label for="Codigo_postal">Codigo postal: </label><br>
        <input type="text" id="Codigo_postal" name="Codigo_postal"><br>
        <label for="Es_sobre">Es sobre: </label><br>
        <input type="checkbox" id="Es_sobre" name="Es_sobre"><br>
        <label for="Peso">Peso: </label><br>
        <input type="text" id="Peso" name="Peso"><br>
        <label for="Recogida_a_domicilio">Recogida a domicilio: </label><br>
        <input type="checkbox" id="Recogida_a_domicilio" name="Recogida_a_domicilio"><br>
        <label for="Direccion_remitente">Direccion_remitente: </label><br>
        <input type="text" id="Direccion_remitente" name="Direccion_remitente"><br>
        <label for="Reparto_a_domicilio">Reparto a domicilio: </label><br>
        <input type="checkbox" id="Reparto_a_domicilio" name="Reparto_a_domicilio"><br>
        <input type="submit" value="Enviar">

    </form>
</body>
</html>